<div id="root" class="container">
    <div class="text-center">
        <div class="d-inline-flex rounded-circle" style="background-color: #f6c5ce; padding: 1rem;">
            <div class="rounded-circle" style="background-color: #ff98aa; border: 2px solid #f6c5ce; padding: 1rem;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 1.5rem; height: 1.5rem; color: #FF003F">
                    <path
                        strokeLinecap='round'
                        strokeLinejoin='round'
                        d='M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z'
                    />
                </svg>
            </div>
        </div>
        <h1 class="mt-3 text-20px font-bold text-slate-800 lg:text-30px">
            Yêu cầu không hợp lệ
        </h1>
        <p class="mt-2 text-16px text-muted">Vui lòng kiểm tra và thử lại</p>
    </div>
</div>