<div id="root" class="container">
    <div class="text-center">
        <div class="d-inline-flex rounded-circle" style="background-color: #c6ffe2; padding: 1rem;">
            <div class="rounded-circle" style="background-color: #97f0c3; border: 2px solid #49ec90; padding: 1rem;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 1.5rem; height: 1.5rem; color: #108e36">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
            </div>
        </div>
        <h1 class="mt-3 text-20px font-bold text-slate-800 lg:text-30px">
            Từ chối lời mời thành công
        </h1>
        <p class="mt-2 text-16px text-muted">Chúng tôi hi vọng sẽ được hợp tác với bạn trong tương lai</p>
    </div>
</div>